{% extends 'base.html' %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<p class="lead">
    {{ object.plot }}
</p>
<p><strong>Year:</strong> {{ object.year }}</p>
<p><strong>Runtime:</strong> {{ object.runtime }} minutes</p>
<p><strong>Website:</strong> <a href="{{ object.website }}">{{ object.website }}</a></p>
{% endblock %}

{% block sidebar %}
<div>
This movie is rated:
   <span class="badge badge-primary">{{ object.get_rating_display }}</span>    
</div>
<div>
    {% if vote_form %   %}
        <form method="post" action="{{ vote_form_url }}">
            {% csrf_token %}
            {{ vote_form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Vote</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to vote for this movie.</p>
    {% endif %}
</div>
{% endblock %}


